body {
	background-color: black;
	font-family: arial;
	text-align: center;
	color: #cc0000;	
}

h1 {
	font-size: 50px;
}

.slide {
	background-size: contain;	
	background-repeat: no-repeat;
	background-position: center center;
}

#whosmax {
	background-image: url("../img/me.jpg");
}

#lyon {
	background-image: url("../img/lyon.jpg");
}

#trajet {
	background-image: url("../img/trajet.jpg");
}

#marais {
	background-image: url("../img/marais.jpg");
}

#trajet2 {
	background-image: url("../img/trajet2.jpg");
}

#paris {
	background-image: url("../img/engineer.gif");
}

#villejuif {
	background-image: url("../img/villejuif.jpg");
}

#trajet4 {
	background-image: url("../img/trajet4.jpg");
}

#etude2 {
	background-image: url("../img/beer.gif");
}

#helsinki {
	background-image: url("../img/etude3.gif");
}

#trajet5 {
	background-image: url("../img/trajet5.jpg");
}

#bordeaux {
	background-image: url("../img/bordeaux.gif");
}

#passion #dockimg {
	margin-top: 10%;
}

#passion img {
	height: 200px;
}

#byebye {
	background-image: url("../img/byebye.gif");
}

